<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <title>Homepage</title>
</head>
<body >
    {% extends "navbar.html" %}

    {% block content %}
<div>
<h2 class="text-6xl font-bold text-blue-600 text-center mt-8 mb-3">Revoluciona el Aprendizaje</h2>
<h3 class="text text-center mb-5">Aprende a tu ritmo con módulos interactivos y juegos educativos personalizados.</h3>
</div>
<div class="flex  justify-evenly w-full h-12" >
    <button class="bg-blue-500">
        <p class="text-white">Empieza como Estudiante</p>
    </button>
    <button class="bg-gray-400">
        <p>Explora como Profesor</p>
    </button>
</div>

<div class="bg-gray-50">
    <div>
        <p>Aprendizaje Personalizado</p>
        <p>Los módulos se adaptan a tu nivel y progreso.</p>
    </div>
    <div>
        <p>Juegos Educativos</p>
        <p>Aprende jugando y diviértete mientras refuerzas tus conocimientos.</p>
    </div>
    <div>
        <p>Herramientas para Profesores</p>
        <p>Crea contenido y monitorea el desempeño de tus alumnos.</p>
    </div>
    <div>
        <p>Acceso Seguro</p>
        <p>Protegemos tus datos y garantizamos privacidad en todo momento.</p>
    </div>
</div>
{% endblock %}



</body>
</html>